* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding-top: 0.5rem;
  background-color: black;
}
a {
  text-decoration: none;
  font-weight: 800;
  color: white;
}
img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.birth {
  font-weight: 800;
  color: white;
}
span {
  color: red;
}
