* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding-top: 0.5rem;
  background-color: black;
}
a {
  text-decoration: none;
  font-weight: 800;
  color: white;
}
.birth {
  font-weight: 800;
  color: white;
}
span {
  color: red;
}
.one {
  background-image: url(../images/pexels-ellis-mbeku-633661.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.description {
  color: white;
  display: flex;
  justify-content: center;
  justify-self: baseline;
  padding-top: 4rem;
}
.line {
  border: solid red;
}
p {
  color: white;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
}
#image {
  width: 20%;
  margin: 0.3rem;
  border-radius: 1em;
  box-shadow: 5px 5px 5px;
}
.image-one {
  display: flex;
  justify-content: center;
  margin-top: -5rem;
}
